.print-fields {
    padding: 0px 20px;
}
.main-container-one {
    display: flex;
    padding: 0em 0em;
    flex-direction: column;
    margin: auto;
}
tr, td {
    color:white;
}
table.table-film-reserve {
    margin-top: 3em;
    
    border-radius: 10px;
    padding: 0.5em;
    padding: 0.5em;
    border: 1px solid red;
    display: flex;

}
td.td-one {
    width: 6em;
    display: flex;
    height: 100%;
    padding: 1em;
}
td.td-two {
    padding: 1em;
}
.film-reserved {
    padding-left: 10em;
}
img.profile-image-films {
    height: 15em;
}
.table-print-pedidos {
    display: flex;
}
.colum-components-admin-print-pedidos{
    width: 14em;
    background-color:white;
    height: 100%;
    padding: 0em 1em;
    border: 1px solid;
    color: black;
    display: flex;
    align-items: center;
}
.colum-components-admin-print-pedidos-vermas{
    width: 1.5em;
    background-color:white;
    color: black;
    height: 100%;
    padding: 0em 1em;
    border: 1px solid;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.colum-components-admin-print-pedidos-titles{
    width: 14em;
    background-color: rgb(78, 78, 78);
    height: 100%;
    padding: 0em 1em;
    border: 1px solid;
    display: flex;
    align-items: center;
}
.admin-h1{
    text-align: center;
}
.last-order-titles {
    display: flex;
}
.colum-components-admin-print {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0.01px solid;
    border-right: 0.01px solid;
    padding: 15px 15px ;
    width: 14em;
    margin: 0;
    background-color: rgb(66, 66, 66);
}
.users-registers-title {
    display: flex;
    justify-content: center;
}



p.colum-components-admin-print-register{
border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0.01px solid;
    border-right: 0.01px solid;
    padding: 15px 15px;
    width: 14em;
    color: black;
    margin: 0;
    background-color: white}
 .last-order-titles {
    height: 5em;
    margin-bottom: 0em;
}
.button_panel_2 {
    display: flex;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: fit-content;
    border: 1px solid white;
}



div#X {
    top: 7px;
    position: absolute;
    right: 20px;
    color:red;
}
.abrepeliculas {
    width: 30em;
    height: 25em;
    background-color: #000000bf;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
}
.mystyle{

    background-color:#cecece;
    position: fixed;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-content: inherit;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}
.table-flex-data {
    display: flex;
}

.two-tables {
    display: flex;
}

.open-files-back-dark {
    width: 100vw;
    height: 100vh;
    background-color: #000000a2;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
img.icon-search {
    width: 1.2em;
}
.main-container-one {
    padding: 0em 0em;
 
}


#myDIV  p{
color: black;
}