
.main-container-admin {
    display: flex;
    height: 100%;
    min-height: 100vh;;
}
.side-bar-admin {
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.admin-sidebar {
    display: flex;
    flex-direction: column;
}
.admin-sidebar {
    border: 1px white solid;
}
.side-bar-elements {
    padding-left: 6em;
    border: 1px solid white;
}
.front-admin {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logout-admin {
    width: -moz-fit-content;
    font-size: 20px;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}