
.panel-admin-screen-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    height: 31em;
    justify-content: center;
}
.panel-admin {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 5px;
}
.panel-admin-screen-right {
    width: 64em;
    display: flex;
    height: fit-content;
    align-items: center;
    padding-left: 3em;
    padding: 2em 0em;
    justify-content: flex-start;
}
.panel-admin-side-bar {
    width: 9.5em;
    display: flex;
    font-size: 22px;
    border: 1px solid red;
    padding-left: 2em;
    padding-top: 3em;
    flex-direction: column;
   
}
.main-container-admin {
    padding: 2em;
    max-width: 1360px;
    display: flex;
}
 div.panel-admin-side-bar > div p{
cursor: pointer;
 }
 
 div.panel-admin-side-bar > div p {
    font-family: monospace;
    cursor: pointer;
    font-size: 1.2em;
}

