
.panel-admin-screen-right {
    width: 50%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    height: 31em;
    justify-content: center;
}
.panel-admin {
    display: flex;
    justify-content: space-between;
    background-color: #320303;
    padding: 1em;
}
.panel-admin-screen-right {
    background-color: grey;
    width: 64em;
    display: flex;
    height: fit-content;
    align-items: center;
    padding-left: 3em;
    justify-content: flex-start;
}
.panel-admin-side-bar {
    width: 8em;
    display: flex;
    font-size: 22px;
    padding-left: 2em;
    padding-top: 3em;
    flex-direction: column;
   
}
.main-container-admin {
    padding: 2em;
    max-width: 1360px;
    display: flex;
}
 div.panel-admin-side-bar > div p{
cursor: pointer;
 }


