
.designRegister{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7em);
    justify-content: center;
    align-items: center;
}

.sendButton {
    height: 4em;
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 0.2em;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
input.style-form-register {
    margin-top: 1.1em;
    height: 2em;
    color: black;
    font-size: 1.1em;
    padding: 0.2em;
}
div#style-div-form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-form-register {
    height: 3em;
    width: 18em;
    font-size: 1.1em;
    margin-top: 1em;

}
#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}