
.loader {
    
    height: 10em;
}

.displayPeliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0em 13em;
}

.peli {
    border-radius : 0.2em;
    border: 0.1em solid rgb(255, 0, 0);
    margin: 0.1em;
    cursor: pointer;
}

.cartel {
    height: 18em;
}
.container-loader {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
