.table-row {
    display: flex;
}
.table-profile {
    width: 25em;
    margin: auto;
    margin-top: 10em;
}
.table-row {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height: 3em;
    align-items: center;
    padding: 0px 27px 0px 0px ;
    background: white;
}
.table-field-1 {
    width: 6em;
    background-color: #dbdbdb;
    height: 3em;
    display: flex;
    align-items: center;
    padding-left: 2em;
}


.container-update-profile{
width: 20em;
margin-top: 0.5em;
}
.designProfile {
    display: flex;
    margin: auto;
    padding: 0px 0em;
    flex-direction: row;}

.input-form-update{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height: 3em;
    align-items: center;
    width: 20em;
    padding: 5px 10px 5px 18px;
}
.table-update{
    width: 20em;
    margin: auto;
  
}

.sendButton {
    height: 3em;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 0.2em;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 30px;
}
.deleteButton {
    height: 3em;
    width: 100%;
    background-color: rgb(141, 1, 1);
    color: white;
    border-radius: 0.2em;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 30px;
}
.button-update-open-section{
width: 100%;
height: 3em;
background-color: brown;
margin-top:1em;
display: flex;
justify-content: center;
align-items: center;
color: white;
border-radius: 30px;
font-size:1.2em;


}
.user-logout-profile{
width: 100%;
height: 3em;
background-color: brown;
margin-top:1em;
display: flex;
justify-content: center;
align-items: center;
color: white;
border-radius: 30px;
font-size:1.2em;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}
.img-profile {
    width: 2em;
}
.img-h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.print-fields {
    padding: 0px 20px;
}
.main-container-one {
    display: flex;
    padding: 3em 9em;
    flex-direction: column;
}
tr, td {
    color:white;
}
table.table-film-reserve {
    margin-top: 3em;
    
    border-radius: 10px;
    padding: 0.5em;
    padding: 0.5em;
    border: 1px solid red;
    display: flex;

}
td.td-one {
    width: 6em;
    display: flex;
    height: 100%;
    padding: 1em;
}
td.td-two {
    padding: 1em;
}
.film-reserved {
  padding-left: 10em;

    
}
img.profile-image-films {
    height: 15em;
}
.main-container-one-profile {
    padding: 2em 7em;
}