div#table-home-print {
    border: solid 0px;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 8em;
}


.colum-home-print {
    border: 2px 0.5px 2px 0.5px solid;
    
}

div#table-home-print {
    display: flex;
}

.colum-components-home-print{
    border-top: 3px solid;
    border-bottom:  3px solid;
    border-left: 0.01px solid;
    border-right: 0.01px solid;
    padding: 15px 30px;
    margin: 0;
}

.container-home{
    height: calc(100vh - 7em);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(../../images/background_home.jpg);
    background-size: cover;

}
.h1-home{
    text-align: center;
    color:white;
}
p.colum-components-home-print {
    background-color: #ffffff8a;
}