div#table-home-print {
    border: solid 0px;
    width: 90%;
    margin: auto;
    justify-content: center;
   
}


.colum-home-print {
    border: 2px 0.5px 2px 0.5px solid;
    
}

div#table-home-print {
    display: flex;
}

.colum-components-home-print{
    border-top: 3px solid;
    border-bottom:  3px solid;
    border-left: 0.01px solid;
    border-right: 0.01px solid;
    padding: 15px 30px;
    margin: 0;
}

.container-home{
    height: calc(100vh - 10em);
    background-image: linear-gradient(rgba(0, 0, 0, 0.815),rgba(0, 0, 0, 0.842)) ,url(../../images/background_home.jpg);
    background-size: cover;

}
.h1-home{
    text-align: center;
    color:white;
}
p.colum-components-home-print {
    background-color: #ffffff8a;
}




div#solutions {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 39px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4em;
    padding: 0px 11em;
}
.sendButton-rearch {
    background-color: unset;
    color: white;
    border: 1pxsolid;
    width: 12em;
    text-align: center;
    border-radius: 21px;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.image-films {
    width: 100%;
}

input.imput-search {
    height: 3em;
    margin: auto;
    width: 23em;
    color: black;
    text-align: center;
    display: flex;
    font-size: 1.2em;
}
.peli {
    width: 12em;
    height: 24em;
    background-color: black;
}
p.title-film {
    padding: 0px 1em;
    text-align: center;
}

.container-title-search {
//height:15em ;
//background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/images/background_home.jpg);
//background-size: cover;

}








