

.designBoton {

    height: 1.5em;
    width: 5em;
    margin: 1em;
    background-color: white;
    border-radius: 0.2em;
    transition: 0.4s;
    font-size: 25px;
}

.designBoton:hover{
    transition: 0.4s;
    background-color: rgb(133, 133, 133);
    cursor: pointer;
}