

.designBoton {

    height: 2.3em;
    display: flex;
    width: 4em;
    margin: 1em;
    border-radius: 0.2em;
    transition: 0.4s;
    font-size: 20px;
    color: white;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
