
.profilePelicula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 47em;    
    margin: auto;
    padding: 4em 0em 11em 0em;
   
}
.container-rented {
    /* border-color: green; */
    height: 1em;
    padding: 1em;
    width: 13em;
    font-size: 1.1em;
    color: green;
    text-align: center;
    font-weight: 700;
}
button.button-rent-fiml {
    padding: 1.1em;
    font-weight: 800;
    color: #c90000;
    border-radius: 30px;
    border: unset;
}

.button-to-login-unlogin {
    border: 1px solid white;
    height: 3em;
    display: flex;
    border-radius: 49px;
    align-items: center;
    justify-content: center;
}