
.designLogin{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7em);
    justify-content: center;
    align-items: center;
}

.sendButton {
    height: 4em;
    width: 100%;
    background-color: rgb(128, 0, 0);
    color: white;
    border-radius: 0.2em;
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
input.style-form-login {
    margin-top: 1em;
    height: 2em;
    color: black;
    font-size: 1.4em;
    padding: 0.2em;
}
div#style-div-form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
    color: white;
}