@import 'Scss/main.scss';
@import 'Components/Header/Header.scss';
@import 'Components/Boton/Boton.scss';


@import 'Containers/Home/Home.scss';
@import 'Containers/Film/film.scss';
@import 'Containers/Films/films.scss';
@import 'Containers/Login/Login.scss';
@import 'Containers/Profile/profile.scss';
@import 'Containers/Register/register.scss';


html,body,#root {  height: 100%;  margin: 0; background-color: black;}
h1{color:white;}